@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        
/* Estilo para tabela responsiva em mobile */
@media (max-width: 640px) {
    .responsive-table tbody tr {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 1px solid #e5e7eb;
    }
    
    .responsive-table tbody td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(226, 226, 226);
        padding: 0.7rem 1.5rem;
        text-align: right;
    }
    
    .responsive-table tbody td:before {
        content: attr(data-label);
        font-weight: 600;
        margin-right: auto;
        padding-right: 1rem;
        text-align: left;
    }
    
    .responsive-table tbody td:last-child div {
        justify-content: flex-end;
        width: 100%;
    }
}

/* Estilo para modal */
.modal {
    display: none;
}
.modal.active {
    display: flex;
}

/* Remove outline dos botões */
button:focus {
    outline: none !important;
}